body{
  position: relative;
  height: 100vh;
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main input{
  display: block;
  margin: auto auto 10px auto;
  border: groove;
}
